body{
  font-family: "Merienda", serif;
  color:#180A0A;
  margin:0; border: 0;
  background-color:#AEDBCE;
  font-weight:normal;
}
h1{
  font-family: "Cookie",cursive;
  color: #A084CF;
  font-size: 4rem;
  padding: 20px 20px;

}
.invi{
  width:5%;
  height: 5%;

}

h2{
  font-family: "Sacramento" ,cursive;
  margin: 50px auto 50px;
  color:#D82148;
  font-size: 2.4rem;
}

.f2{
  width:10%;
  height:5%;
  margin: 10px;
}

.f3{
  width:10%;
  height:5%;
  margin:10px;
}
.f1{
  width:10%;
  height:5%;
  margin:10px;
}
hr
{
border-style:none;
  border-top:dotted #810955;
  width:8%;
  border-width: 5px;
  margin: 50px;
}
.image{
  background-color: #F6E3C5;
  border:0;
}
.invitation{
  background-color: #AEDBCE;
  margin-top: 30px;
  margin-bottom: 30px;
}
.july{
  font-size: 1.5rem;
  color: #FF5D5D;
}
.couple{
  width:20%;
  height:20%;
  margin: 50px 50px;
}

.venue{
margin: 30px auto 30px;

}

.kali-babu{
  text-decoration: none;
  color:#019267;
}

.kendua{
  text-decoration: none;
  color:#019267;
}

.venue-img{
  width:20%;
  height:20%;
  margin: 50px 50px;
}
.ceremony{
margin: 30px auto 30px;
}

.contact{
background-color: #D3CEDF;
margin:40px auto 40px;
padding: 30px 0 50px;
}
.CD{
  font-size:2rem;
  color:#019267;
  text-decoration: none;
  padding-bottom: 30px;
}
a:hover{
  color: #810955;
}

.thank{
  width: 15%;
  height: 15%
}
